aside{
  background-image: url("img/images (1)");
  background-color: #7050FF
}
aside * {
  color: white;
}
#profile-pic img{
  border-radius: 50%;
}
aside h2{
  text-transform: uppercase;
  letter-spacing: 3px;
}

aside section h2:first-child{
  border-bottom: 5px solid white;
}

#profile-pic img{
  border-radius: 50%;
}

/*------------------------- main----------------------------*/
.hero {
  background-color: #4D88FF;
}
.hero h2 {
  color: white;
  border-top:  20px solid white;
}

.hero {
  box-shadow: 3px 3px 30px 5px #7A97FF inset;
}

.colection{
  background-color: #4D88FF;
}

.tenda{
  background-color: #4D88FF;
}

.fin{
  background-color: #4D88FF;
}
body{
background-image: url("img/images (1)");
}




/**
*{
  color:;
}
p{
  color: blue;
}
.Contactad{
  background-color: ligthblue;
}

ul{
  list-style-type: none;
}
article ul {
  list-style-type: square;
}
